.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px $color-black;
  }

  &-white {
    background-color: $color-white;
    color: $color-dark-grey;

    &::after {
      background-color: #fff;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-animated {
    animation: moveInBottom 0.5s ease-out;
    animation-fill-mode: backwards;
  }
}

.btn-text:link,
.btn-text:visited {
  font-size: $default-font-size;
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $color-primary;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: $color-primary;
  color: $color-white;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  transform: translateY(-5px);
}

.btn-text:active {
  transform: translateY(-1px);
}
